body>main>section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#ing-table,
#add-ing-table {
    border-collapse: collapse;
    margin: 4px;
    width: calc(100% - 8px);
}

#ing-table tr td,
#add-ing-table tr td {
    border: 1px solid #555555;
    padding: 4px 8px;
    white-space: nowrap;
}

#ing-table tfoot tr td {
    background-color: #5555554b;
    font-weight: bold;
}

#ing-table tr:hover {
    background-color: #55555523;
}

#ing-table tr.active {
    background-color: #9aff5f41;
}

#ing-table thead tr td,
#add-ing-table thead tr td {
    background-color: #5555557a;
}

section .title {
    text-transform: uppercase;
    align-self: center;
    font-size: x-small;
    font-weight: 100;
    margin-left: 4px
}

section .num-rows-info {
    font-size: small;
    margin-left: 4px
}

section .action-container {
    display: flex;
    justify-content: end;
    margin-bottom: 4px;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    padding: 4px 0;
}
section .table-container {
    border-bottom: 1px solid #555555;
}
section .add-table-container {
    border-bottom: 1px solid #555555;
}
.action-container button {
    border: 1px solid #5555555e;
    width: 6rem;
    text-align: center;
    padding: 4px 0;
    text-transform: uppercase;
    border-radius: 0.25em;
}

.action-container button:hover {
    opacity: 0.85;
}

.action-container button:active {
    transform: scale(0.98);
}

.action-container .add-box {
    display: flex;
    justify-content: center;
}

.add-box #num-of-row-input {
    width: 2.5rem;
    margin-right: 4px;
}

.action-container #add {
    background-color: #0070ff;
    color: #fff;
    margin-right: 4px
}

.action-container #add:disabled,
.action-container #add[disabled],
.action-container #edit:disabled,
.action-container #edit[disabled],
.action-container #delete:disabled,
.action-container #delete[disabled],
.action-container #confirm:disabled,
.action-container #confirm[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.action-container #edit {
    background-color: #00b4c8;
    color: #fff;
    margin: 0 4px;
}

.action-container #delete {
    background-color: #ff002d;
    color: #fff;
    margin-right: 4px;
}

.action-container #confirm {
    background-color: #2fad44;
    color: #fff;
    margin-right: 4px;
}

/* Định dạng cho các ô input khi chưa được điền đầy đủ */
input.invalid {
    border-color: red;
    /* Màu viền đỏ */
    background-color: #ffe6e6;
    /* Nền màu hồng nhạt */
}


#add-ing-table input {
    border: none;
    width: 100%;
    height: auto;
    outline: none;
    white-space: nowrap;
}

#add-ing-table caption {
    color: #ff002d;
}

#add-ing-table {
    display: none;
}

#add-ing-table.active {
    display: table;
}