body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:rgba(128, 128, 128, 0.075);
} 
.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 250, 215, 0.171);
    padding: 24px;
    border: 1px solid #c4c4c4;
    border-radius: 12px;
}  
form {
padding: 16px;
display: flex;
flex-direction: column;
}
form input {
    padding: 4px 8px;
    border-radius: 6px;
    margin-bottom: 12px;
    margin-top: 4px;
    border: 1px solid #c4c4c4;
}
form label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}
form button {
    padding: 6px 0;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    background-color: rgba(127, 255, 212, 0.822);
    text-transform: uppercase;
}
.container a {
    text-align: end;
}