@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color:rgba(128, 128, 128, 0.075);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
} 
.container {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 12px;
    box-shadow: 3px 10px 17px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 10px 17px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 10px 17px 2px rgba(0,0,0,0.25);
}  
form {
padding: 3rem 3rem 4rem 3rem;
display: flex;
flex-direction: column;
}
form input {
    height: 3rem;
    width: calc(12rem - 0.5rem);
    background-color: transparent;
    border:none;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    outline:  1px solid #c4c4c4;
    padding: 0 0 0 0.5rem;
    font-size: 1.5rem;
}
form input:focus {
    outline:  2px solid #3fd802e7;
}
form input:focus + label
,form input:valid + label {
    color:  #3fd802e7;
    font-weight: 800;
    font-size: 0.75rem;
    transform:translateY(-1.5rem) ;
}
form input:not(:focus) + label{
    color:  #494949;
}
form div {
    position: relative;
    margin-bottom: 1.5rem;
}
form label {
    position: absolute;
    pointer-events: none;
    text-transform: uppercase; 
    line-height: 2em;
    width: auto;
    font-weight: 400;
    top: 0.5rem;
    left: 0.5rem;
    transition: all 0.3s ease-in-out;
    background-color: #f7f7f7;
    color: #000000c4;
}
form button {
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    color: #f7f7f7;
    background-color: #3fd802e7;
    text-transform: uppercase;
    padding: 1rem 2rem;
    cursor: pointer;
}
form button:hover {
    opacity: 0.85;
}
form button:active {
    transform: scale(0.95);
}
.container span {
    text-align: end;
    margin: 0 1rem 1rem 0;
}
.container a {
    color: #155ca2;
}
.container h1 {
    align-self: center;
    text-decoration: underline;
}